#board{
    text-align: center;
    padding: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
        
div.row {
    cursor: pointer;
        }

.row > div {
    height: 100px;
    width: 100px;
    float: left;
    font-size: 75px;
    line-height: 100px;
}

#title{
    text-decoration: underline;
    color: white;
}

#winner{
    color: white;
}

.row {
    clear: both;
    margin:0 auto;
    width: 302px;
}

body{
    background-color: black;
}

.top {
    border-bottom: 1px black solid;
    border-color: blueviolet;
    background-image: url(https://i.etsystatic.com/15764758/r/il/38d557/1654947841/il_1588xN.1654947841_eass.jpg);
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
}

.bottom{
    border-top: 1px black solid;
    border-color: blueviolet;
    background-image: url(https://i.etsystatic.com/15764758/r/il/38d557/1654947841/il_1588xN.1654947841_eass.jpg);
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
}

.center{
    background-image: url(https://i.etsystatic.com/15764758/r/il/38d557/1654947841/il_1588xN.1654947841_eass.jpg);
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
}

.left {
    border-right: 1px black solid;
    border-color: blueviolet;
    
}

.right {
    border-left: 1px black solid;
    border-color: blueviolet;
}

button{
    text-align: center;
    background-color: blueviolet;
    color: black;
}